<div class="panel panel-warning" *ngIf="Object">
    <div class="panel-heading">Movimentações </div>
    <div class="lista panel-body">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-md-offset-6col-sm-offset-6">

                <form>
                    <div class="row">
                        <div class=" col-md-4 col-sm-4 form-group">
                            <label>Descrição</label>
                            <input type="text" class="form-control" name="Nome" maxlength="500" [(ngModel)]="Object.descricao" placeholder="Descrição">
                        </div>
                        <div class=" col-md-4 col-sm-4 form-group">
                            <label>Valor</label>
                            <input type="number" class="form-control" name="Valor" [(ngModel)]="Object.valor" placeholder="Valor">
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label>Funcionario</label>
                                <ng-select name="funcionario" [options]="funcionarioOpcoes" [(ngModel)]="funcSelecionado" [allowClear]="true">
                                </ng-select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" class="form-butons">
                        <div class="text-center col-sm-offset-3 col-md-3 col-sm-3">
                            <button type="submit" class="btn btn-warning" [routerLink]="'../'">Cancelar</button>
                        </div>
                        <div class="text-center col-md-3 col-sm-3">
                            <button type="submit" class="btn btn-success" [disabled]="!funcSelecionado" (click)="salvar()">Salvar</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>